* {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
}

.text {
  border-bottom: 5px solid gray;
  margin-bottom: 10px;
  margin-top: 30px;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  margin-bottom: 60px;
  height: 300px;
  width: 300px;
}

.pic {
  width: 100%;
}
